body {
    font-family: sans-serif;
    font-size: 20px;
    height: 100%;
    padding: 1em 2em;
    color: #246;
}
.logo {
    fill: currentColor;
    stroke: none;
    width: 168px;
}
.stats {
    margin: 2em 0;
}
.stats li {
    padding: 0.25em 0;
}

.container {
    display: flex;
    align-items: center;
    gap: 4em;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
dl {
    height: 5em;
}
dt {
    padding: 0 0 1em;
}
dd {
    font-size: smaller;
    width: 20vw;
}

#knobs {
    width: 320px;
}
.knob {
    cursor: pointer;
}
.knob:hover {
    filter: contrast(92%);
}
.knobDot {
    fill: #17d;
    transition: transform 0.2s;
}

#toggle {
    justify-content: center;
    display: flex;
    width: 100%;
    font-size: 0.75em;
}
.divider {
    width: 1px;
    background-color: #17d;
}
.left, .right {
    padding: 0.25em 2em;
    color: #aaa;
    border: 1px solid currentColor;
}
.left:not(.selected):hover, .right:not(.selected):hover {
    cursor: pointer;
    color: #888;
    background-color: #eee;
}
.left {
    border-radius: .5em 0 0 .5em;
    border-right: 0;
}
.right {
    border-radius: 0 .5em .5em 0;
    border-left: 0;
}
.selected {
    color: #17d;
    background-color: #17d1;
}

.chart {
    flex: 2;
    width: 640px;
    font: 10px sans-serif;
    fill: #246;
    box-shadow: 0 0 20px #888;
}
.bar {
    stroke: #246;
    transition: all 1s;
}
.bar.pm {
    fill: #698;
}
.bar.base {
    fill: none;
}
.val.curr {
    fill: #fff;
    opacity: 0;
}
.val.show {
    opacity: 1;
    transition: opacity 1s;
}
table {
    margin: 2em;
    height: 100%;
    font-family: sans-serif;
    color: #17d;
    /*opacity: 0;*/
    transition: opacity 0.2s;
}
caption {
    caption-side: top;
    margin: 1em;
}
table td {
    font-weight: normal;
    padding: 1em 2em;
}
table .scaffold {
    visibility: hidden;
}